<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>搜索结果</title>
    <link rel="stylesheet" href="../static/bootstrap-3.3.4/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/Flat-UI-master/dist/css/flat-ui.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/bootstrap-3.3.4/dist/js/jquery-1.11.3.min.js"></script>
</head>
<body>
<div id="head" th:replace="head :: head"></div>
<div class="container">
    <p>共有“<a style="color: red" th:text=" ${pageInfo.total} "></a>”条搜索结果</p>
    <div class="row">
        <div th:each="book : ${pageInfo.list}" class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <a th:href="@{'/book/skipDetail?id=' + ${book.id}}">
                    <img style="width: 100%; height: 200px; display: block;" alt="100%x200"
                         th:src="@{'../static/img/bookImg/' + ${book.img} }"
                         data-src="holder.js/100%x200" data-holder-rendered="false">
                </a>
                <div class="caption">
                    <div th:if="${#strings.length(book.name)} <= 10" th:text="${book.name}" class="text-left">林徽因传</div>
                    <div th:if="${#strings.length(book.name)} > 10" th:text="${book.name.substring(0,10)} + '.....'" class="text-left">林徽因传</div>
                    <div>
                        <span th:text="'￥' + ${#numbers.formatDecimal((book.price)/100.00,2,2)}" class="text-left text-danger"></span>
                    </div>
                    <div th:if="${#strings.length(book.author)} <= 10" th:text="${book.author}" class="small">
                        XXX著 / 中国邮电出版社
                    </div>
                    <div th:if="${#strings.length(book.author)} > 10" th:text="${book.author.substring(0,8)} + '.....'" class="small">
                        XXX著 / 中国邮电出版社
                    </div>
                    <p>
                        <a th:href="@{'/book/skipDetail?id=' + ${book.id}}" class="btn btn-primary btn-block" role="button">查看详情</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12" style="text-align: center">
        <div class="pagination">
            <ul id="page" th:if="${pageInfo}">
                <li class="previous" th:if="${pageInfo.hasPreviousPage}"><a th:href="@{'/book/findByKeyword?keyword=' + ${keyword} + '&page=1' }">首页</a></li>
                <li class="previous" th:if="${pageInfo.hasPreviousPage}"><a th:href="@{'/book/findByKeyword?keyword=' + ${keyword} + '&page=' + ${pageInfo.prePage} }">上一页</a></li>
                <li class="next" th:if="${pageInfo.hasNextPage}"><a th:href="@{'/book/findByKeyword?keyword=' + ${keyword} + '&page=' + ${pageInfo.nextPage} }">下一页</a></li>
                <li class="next" th:if="${pageInfo.hasNextPage}"><a th:href="@{'/book/findByKeyword?keyword=' + ${keyword} + '&page=' + ${pageInfo.pages} }">尾页</a></li>
            </ul>
        </div> <!-- /pagination -->
    </div>

</div>


<script src="../static/bootstrap-3.3.4/dist/js/bootstrap.min.js"></script>
<script src="../static/Flat-UI-master/dist/js/flat-ui.min.js"></script>
<script src="../static/bootstrap-3.3.4/js/carousel.js"></script>
<script>

    $(function () {
        //================下拉菜单的js===============
        var bool = true;
        $("#open").click(function () {

            if (bool){
                console.log(123);
                $(this).removeClass("dropdown");
                $(this).addClass("dropdown open");
                bool = !bool;
            }else {
                console.log(321);
                $(this).removeClass("dropdown open");
                $(this).addClass("dropdown");
                bool = !bool;
            }

        });
        //================下拉菜单的js===============
    })
</script>
</body>
</html>